<%- include("templates/header") %>

<div class="container py-5">
  <h1 class="text-center">Admin Panel</h1>

  <table class="table mx-auto">
    <thead>
      <tr>
        <th>Username</th>
        <th>User Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].name %></td>
          <td><%= users[i].userType %></td>
          <td>
            <% if (users[i].userType === 'user') { %>
              <form method="POST" action="/admin/promote">
                <input type="hidden" name="name" value="<%= users[i].name %>">
                <button class="btn btn-success">Promote</button>
              </form>
            <% } else { %>
              <form method="POST" action="/admin/demote">
                <input type="hidden" name="name" value="<%= users[i].name %>">
                <button class="btn btn-danger">Demote</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("templates/footer") %>